<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin"/>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>

	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="cookieManager" type="Eticadata.Infrastruct.CookieManagerBehaviorExtension, Eticadata.Infrastruct" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="EnableCookieManager">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<cookieManager />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Http" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None" />
				</binding>
				<binding name="BasicHttpBinding_Https" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_AuthenticationServicesoap" />
				<binding name="BasicHttpBinding_AuthenticationHelperServicesoap" />
				<binding name="BasicHttpBinding_AuthenticationHelperServicesoap1" />
			</basicHttpBinding>
			<customBinding>
				<binding name="eMedical_prescricao_pt">
					<textMessageEncoding messageVersion="Soap11" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="AuthenticationHelper.AuthenticationHelperServicesoap" name="HttpsBinding_AuthenticationHelperServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="Authentication.AuthenticationServicesoap" name="BasicHttpBinding_AuthenticationServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="Authentication.AuthenticationServicesoap" name="HttpsBinding_AuthenticationServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="ErpAuthentication.AuthenticationServicesoap" name="BasicHttpBinding_AuthenticationServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="ErpAuthentication.AuthenticationServicesoap" name="HttpsBinding_AuthenticationServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="ErpOpenEmpresa.OpenEmpresaServicesoap" name="BasicHttpBinding_OpenEmpresaServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="ErpOpenEmpresa.OpenEmpresaServicesoap" name="HttpsBinding_OpenEmpresaServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="RiaAttachments.AnexosDigitaisServicesoap" name="BasicHttpBinding_AnexosDigitaisServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="RiaAttachments.AnexosDigitaisServicesoap" name="HttpsBinding_AnexosDigitaisServicesoap" />
			<endpoint behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="ServiceCompilarCodigoPersonalizado.ModuleBuilderServicesoap" name="BasicHttpBinding_ModuleBuilderServicesoap" />
			<endpoint behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="ServiceCompilarCodigoPersonalizado.ModuleBuilderServicesoap" name="HttpsBinding_ModuleBuilderServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="EticadataWeb.StartupDomainServicesoap" name="BasicHttpBinding_StartupDomainServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="EticadataWeb.StartupDomainServicesoap" name="HttpsBinding_StartupDomainServicesoap" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="EtiWebFileBrowser.BrowserService" name="BasicHttpBinding_BrowserService" />
			<endpoint address="" behaviorConfiguration="EnableCookieManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="EtiWebFileBrowser.BrowserService" name="HttpsBinding_BrowserService" />
			<endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Http" contract="InfoMedService.IMedicalInfomedService" name="BasicHttpBinding_MedicalInfomedService" />
			<endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Https" contract="InfoMedService.IMedicalInfomedService" name="HttpsBinding_MedicalInfomedService" />
			<endpoint address="https://wsgw-teste.min-saude.pt:8000/RNU/ConsultaUtente/2.00" binding="customBinding" bindingConfiguration="eMedical_prescricao_pt" contract="ConsultaUtent.ConsultaUtente" name="ConsultaUtenteBindingQSPort2.00" />
			<endpoint address="https://wsgw-teste.min-saude.pt:8000/PEM/RegistoPrescricaoMedicamentos/1.50" binding="customBinding" bindingConfiguration="eMedical_prescricao_pt" contract="RegistoPrescricao.RegistoPrescricaoMedicamentos" name="RegistoPrescricaoMedicamentos_pt1.50" />
			<endpoint address="https://wsgw-teste.min-saude.pt:8000/PEM/RegistoPrescricaoMedicamentosRSP/1.30" binding="customBinding" bindingConfiguration="eMedical_prescricao_pt" contract="RegistoPrescricaoSemPapel.RegistoPrescricaoMedicamentosRSP" name="RegistoPrescricaoMedicamentosrsp_pt1.30" />
			<endpoint address="https://wsgw-teste.min-saude.pt:8000/PEM/ConsultaPrescricaoMedicamentos/2.30" binding="customBinding" bindingConfiguration="eMedical_prescricao_pt" contract="ConsultaPrescricao.ConsultaPrescricaoMedicamentos" name="ConsultaPrescricaoMedicamentosBindingQSPort2.30" />
			<endpoint address="http://localhost/ERPV16/Services/Eticadata-RiaServices-Startup-Services-AuthenticationHelperService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationHelperServicesoap" contract="AuthenticationHelper.AuthenticationHelperServicesoap" name="BasicHttpBinding_AuthenticationHelperServicesoap1" />
			<endpoint address="http://localhost/ERPV16/Services/Eticadata-RiaServices-Startup-Services-AuthenticationHelperService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationHelperServicesoap1" contract="AuthenticationHelper.AuthenticationHelperServicesoap" name="BasicHttpBinding_AuthenticationHelperServicesoap" />
			<endpoint address="http://dds-arcanjo/ERPV18/Services/Eticadata-RiaServices-AuthenticationService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationServicesoap" contract="Authentication.AuthenticationServicesoap" name="BasicHttpBinding_AuthenticationServicesoap1" />
		</client>
	</system.serviceModel>

</configuration>
